*{
    box-sizing: border-box;
}

body{
    background-color: #525252;
    margin: 0;
    padding: 0;
}

main{
    background-color: white;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
}